.component-background{
    background-color: orange;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 30px;
}

.component-background i {
  flex: 1 1 0;                /* grow/shrink equally */
  text-align: center;         /* center icon inside its slot */
  display: block;             /* ensures text-align works consistently */
  font-size: 1.6rem; 
  color: navy;         /* tune size */
}
:host {
  display: block;
  width: 100%;
}